@mixin typo-giga-title {
  font-weight: 300;
  font-size: 120px;
  font-family: "TrendSansOne", sans-serif;
  line-height: 121px;
}

@mixin typo-mega-title {
  font-weight: 300;
  font-size: 80px;
  font-family: "TrendSansOne", sans-serif;
  line-height: 95px;
}

@mixin typo-big-title {
  font-weight: 300;
  font-size: 60px;
  font-family: "TrendSansOne", sans-serif;
  line-height: 61px;
}

@mixin typo-title {
  font-weight: 300;
  font-size: 30px;
  font-family: "TrendSansOne", sans-serif;
  line-height: 30px;
}

@mixin typo-headline {
  font-weight: 300;
  font-size: 18px;
  font-family: "TrendSansOne", Courier, monospace;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin typo-callout {
  font-weight: 500;
  font-size: 16px;
  font-family: "Karla", Courier, monospace;
  line-height: 19px;
  text-transform: uppercase;
}

@mixin typo-regular-link {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

@mixin typo-body {
  font-size: 16px;
  font-family: "Karla", Courier, monospace;
  line-height: 19px;
}
